{% load staticfiles sekizai_tags %}


{# addtoblock "css" %}<link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>{% endaddtoblock #}
{# addtoblock "js" %}<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>{% endaddtoblock #}
{# addtoblock "js" %}<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script>{% endaddtoblock #}
{% addtoblock "js" %}<script src="http://apijsv2.viamichelin.com/apijsv2/api/js?key={{ api_key }}" type="text/javascript"></script>{% endaddtoblock %}
{% addtoblock "js" %}<script src="{% static 'djangocms_maps/js/viamichelin.js' %}"></script>{% endaddtoblock %}
